/**********
  GENERAL
**********/

body {
	font-family: Georgia, Times, serif;
	max-width: 950px;
	margin: 0 auto;
}
header {
	width: 500px;
	height: 85px;
	margin: 0 auto;
	/*border: 3px solid red;*/
	padding-bottom: 0px;
	padding-top: 0px;
	color: #5D5D5F;

}

h1, h2 {
	float: left;
}

h1 {
	font-size: 100px;
	margin-top: 15px;
	/*border: 3px solid green;*/
}

h2 {
	margin-top: 34px;
	/*border: 3px solid green;*/
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding-right: 20px;
	font-size: 20px;

}

nav ul {
	padding-left: 20px;
	float: left; 		/*this is needed to center the ul within nav menu*/
	/*border: 3px solid black;*/
	width: 350px; 
	margin: 0px; 
}

/**********
  index
**********/

img.profilepic {
	clear: both;
	width: 400px;
	/*margin: 30px;*/
	float: left;
	margin: 25px;

}

.intro  {
	width: 400px;
	margin-left: 450px;
	padding-top: 100px;
	color: grey;
	/*border: 1px solid black;*/
}

article {
	/*border: 3px solid red;*/
	margin-top: 200px;

}
