
/**********
  GENERAL
**********/

body {
	font-family: Georgia, Times, serif;
	max-width: 950px;
	margin: 0 auto;
	padding-top: 20px;
}

.topband {
	width: 100%;
	background-color: #414142;
	height: 115px;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
}
header {
	width: 500px;
	height: 78px;
	margin: 0 auto;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #FFC30D;

}

h1, h2 {
	float: left;
}

h1 {
	font-size: 100px;
	margin-top: 5px;
}

h2 {
	margin-top: 24px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding-right: 20px;
	font-size: 20px;
}

nav ul {
	padding-left: 20px;
	float: left; 		/*this is needed to center the ul within nav menu*/
	width: 350px; 
	margin: 0px; 
}

nav ul li a {
	text-decoration: none;
	color: #FFD451;
}

nav ul li a:hover {
	color: #FFFFFF;
}

footer {
	margin-top: 200px;
	text-align: center;
	color: #FFC30D;
	background-color: #636363;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	clear: both;
}

.visit_white a {
	color: #FFFFFF;
}
/**********
  index
**********/
img.profilepic {
	clear: both;
	width: 400px;
	float: left;
	margin: 25px;
	-webkit-filter: grayscale(1);    /*** filters image to b & w ***/
	-moz-filter: grayscale(1);
	filter: grayscale(1);
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
}

img.profilepic:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}
.intro  {
	width: 400px;
	margin-left: 450px;
	padding-top: 50px;
	color: #636364;
	line-height: 20px;
}

article {
	margin-top: 100px;
}

.welcome {
	font-size: 50px;
}

/**********
  contact
**********/

.info {
	clear: both;
	color: #636364;
	padding-left: 40px;
}
.sociallogo {
	width: 40px;
	height: 40px;
	vertical-align: middle; 	/*this aligns the email text to the center of the email logo.*/
}

.sociallink {
	text-decoration: none;
	color: #636364;
}

.sociallink:hover {
	color: blue;
}


/**********
  	Work
**********/

.work {
	clear: both;
	text-align: center;
	color: #636364;
}

.progress {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.gallery {
	padding-top: 100px;
}

.midnight {
	width: 900px;
	padding: 0 120px;
}
.midnight li {
	list-style: none;
	float: left;
}

.midnight li img {
	width: 200px;
	height: 300px;
	padding: 20px;
	-webkit-filter: grayscale(1);    /*** filters image to b & w ***/
	-moz-filter: grayscale(1);
	filter: grayscale(1);
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
}

.midnight li img:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}
.clear {
	clear: both;
}